{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                    <li class="nav-item mx-2">
                        <a href="{% url 'dashboard' %}" id="btn-back"
                           class="nav-link px-3 text-white btn btn-outline-info"><i class="fas fa-arrow-left"></i>
                            Вернутся</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i> Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<form action="{% url 'dashboard_answer' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="test_id" value="{{test.id}}">
    {% for t in test.testitem_set.all %}
    <section class="py-5 questions"><br>
        <div class="sh container py-5 bg-white">
            <div class="row">
                <div class="col-6">
                    <h5 class="">Вопрос №{{t.count}}</h5>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <a id="btn-b{{t.count}}" class="btn btn-info py-2 mr-2">Назад</a>
                    <a id="btn-n{{t.count}}" class="btn btn-info py-2">Следующий</a>
                    <button id="btn-s{{t.count}}" type="submit" class="btn btn-success py-2 hidden">Отправить</button>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{t.title}}</h3>
                        <h3>{{t.count}}/<span class="total_q"></span></h3>
                    </div>
                    <textarea name="answer{{t.count}}" id="" rows="5" style="width: 100%"></textarea>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
</form>
<script>
    'use strict';
    let blocks = document.querySelectorAll('.questions');
    let quantity = document.querySelectorAll('.total_q');
    document.getElementById('btn-b1').classList.add('disabled')
    let c = 1

    for (let i = 0; i < blocks.length; i++) {
        blocks[i].classList.add('hidden');
        quantity[i].innerHTML = blocks.length;
    }
    blocks[0].classList.remove('hidden');
    for (let i = 0; i < blocks.length; i++) {
        document.getElementById('btn-n' + c).addEventListener('click', function () {
            blocks[i].classList.add('hidden');
            blocks[i + 1].classList.remove('hidden');
            if (i === blocks.length - 2){
                document.getElementById('btn-n' + (c-1)).classList.add('hidden');
                document.getElementById('btn-s' + (c-1)).classList.remove('hidden');
            }
        })
        document.getElementById('btn-b' + c).addEventListener('click', function () {
            blocks[i].classList.add('hidden');
            blocks[i - 1].classList.remove('hidden');
            console.log('jivoy')
        })

        c = c + 1;

    }



</script>
{% endblock %}
