{% extends 'panel/admin_base.html' %}

{% block content %}

<div class="content-wrapper">

    <section class="content mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                                <div class="card-title">
                                    Новые клиенты
                                </div>
                            </div>
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-striped table-sm">
                                    <tr>
                                        <th>Дата</th>
                                        <th>Имя</th>
                                        <th>Телефон</th>
                                        <th>Почта</th>
                                        <th>Статус</th>
                                    </tr>
                                    {% for c in clients %}
                                    <tr>
                                        <td>{{ c.date_pub }}</td>
                                        <td>{{ c.name }}</td>
                                        <td>{{ c.number }}</td>
                                        <td>{{ c.email }}</td>
                                        {% if c.processed == False %}
                                        <td class="bg-warning font-weight-bold">
                                            <a class="text-dark w-100 font-weight-bold"
                                               href="{% url 'clients_complete' c.id %}">Ждет</a>
                                        </td>
                                        {% elif c.processed == True %}
                                        <td class="bg-success">
                                            <a class="text-white w-100 font-weight-bold"
                                               href="{% url 'clients_complete' c.id %}">Обработана</a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}