{% extends 'panel/admin_base.html' %}

{% block content %}


<div class="content-wrapper">


    <section class="content mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <div class="card-title">
                            Группы
                        </div>
                        <div class="card-tools">
                            <a data-toggle="modal" data-target="#add_group"
                           class="btn btn-info btn-sm text-white">Добавить</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th>Создана</th>
                                    <th>Название</th>
                                    <th>Студенты</th>
                                    <th>Уровень</th>
                                    <th>Стадия</th>
                                    <th class="d-flex justify-content-end">Изменить</th>
                                    <th>Удалить</th>
                                </tr>
                                {% for g in groups %}
                                <tr>
                                    <td>{{ g.datepublished }}</td>
                                    <td>{{ g.title }}</td>
                                    <td>{{ g.get_students_total }}</td>
                                    <td>{{ g.level }}</td>
                                    {% if g.completed == False %}
                                    <td class="bg-warning font-weight-bold">Идет</td>
                                    {% elif g.completed == True %}
                                    <td class="bg-success text-white font-weight-bold">Завершена</td>
                                    {% endif %}
                                    <td class="d-flex justify-content-end"><a  <a data-toggle="modal"
                                                                              data-target="#group_edit_{{ g.id }}"
                                                                              class="btn-sm btn btn-warning"> Изменить</a>
                                    </td>
                                    <td>
                                        <a data-toggle="modal"
                                                                              data-target="#group_delete_{{ g.id }}" class="btn-sm text-white btn btn-danger">Удалить</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>

</div>


<div class="modal fade" id="add_group" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить группу</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'groups_add' %}" method="POST">
                    {% csrf_token %}
                    <input required class="w-100 p-2 mb-2" type="number" min="0" placeholder="Название" name="title">
                    <select class="form-control mb-2" name="level">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit" class="text-white btn btn-block btn-success btn-primary mb-3">Добавить
                    </button>
                </form>
                <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>


{% for g in groups %}
<div class="modal fade" id="group_edit_{{ g.id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить {{ g.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'groups_edit' g.id %}" method="POST">
                    {% csrf_token %}
                    <input required class="w-100 p-2 mb-2" type="text" min="0" value="{{ g.title }}" name="title">
                    <select class="form-control mb-2" name="level">
                        <option {% if g.level == 1 %} selected {% endif %} value="1">1</option>
                        <option {% if g.level == 2 %} selected {% endif %} value="2">2</option>
                        <option {% if g.level == 3 %} selected {% endif %} value="3">3</option>
                        <option {% if g.level == 4 %} selected {% endif %} value="4">4</option>
                        <option {% if g.level == 5 %} selected {% endif %} value="5">5</option>
                    </select>
                    <select class="form-control mb-2" name="completed">
                        <option {% if g.completed == True %} selected {% endif %} value="True">Завершена</option>
                        <option {% if g.completed == False %} selected {% endif %} value="False">Идет</option>
                    </select>
                    <button type="submit" class="text-white btn btn-block btn-success btn-primary mb-3">
                        Сохранить
                    </button>
                </form>
                <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for g in groups %}
<div class="modal fade" id="group_delete_{{ g.id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удалить {{ g.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'groups_delete' g.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="text-white btn btn-block btn-danger btn-primary mb-3">
                        Удалить
                    </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}