{% extends 'panel/admin_base.html' %}

{% block content %}

<div class="content-wrapper">
    <section class="content mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% for g in groups %}
                    <div class="card bg-light mb-3">
                        <div class="card-header" data-toggle="collapse" href="#g-{{ g.id }}">{{ g.title }}
                        </div>
                        <div class="collapse" id="g-{{ g.id }}">
                            <div class="card-body">
                                <div class="table-responsive-sm">
                                    <table class="table table-striped table-sm">
                                        <tr>
                                            <th>Дата</th>
                                            <th>Группа</th>
                                            <th>Студент</th>
                                            <th>Файл</th>
                                            <th>Статус</th>
                                            <th>Удалить</th>
                                        </tr>
                                        {% for h in g.homework_set.all %}
                                        <tr>
                                            <td>{{ h.date_pub }}</td>
                                            <td>{{ h.group }}</td>
                                            <td>{{ h.student.fname }}</td>
                                            <td><a href="{% url 'download_hws' h.id %}">{{ h.upload }}</a></td>
                                            <td>
                                                {% if h.processed == False %}
                                                <a href="{% url 'hws_complete' h.id %}" class="btn-block btn-sm btn btn-warning">
                                                    Ждет</a>
                                                {% elif h.processed == True %}
                                                <a href="{% url 'hws_complete' h.id %}" class="btn-block btn-sm btn btn-success">
                                                    Обработана</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <form action="{% url 'hws_delete' h.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn-block btn-sm btn btn-danger">Удалить
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}